[include]
    path = ~/.secrets/.gitconfig

[diff]
    tool = meld

[merge]
    tool = meldmerge
    ff = false

[mergetool "meldmerge"]
    cmd = meld $LOCAL $MERGED $REMOTE --auto-merge

[pull]
    ff = only

[push]
    default = simple

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[url "git@github.com:"]
    insteadOf = "g:"
    insteadOf = "https://github.com/"

[url "git@bitbucket.com:"]
    insteadOf = "b:"
    insteadOf = "https://bitbucket.com/"

[url "git@github.com:hysts"]
    insteadOf = "gg:"

[url "git@bitbucket.com:hysts"]
    insteadOf = "bb:"

[url "git@gist.github.com:"]
    insteadOf = "gist:"
    insteadOf = "https://gist.github.com/"


